<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://snowden.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>snowden.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>snowden</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$snowden</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ZHAW.GpsTracker.Data.TrackerContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dcb45vreq0.database.windows.net,1433;Initial Catalog=snowden_db;User ID=gpstracker_user@dcb45vreq0;Password=gpsP4$$1337" Name="Data Source=tcp:dcb45vreq0.database.windows.net,1433;Initial Catalog=snowden_db;User Id=gpstracker_user@dcb45vreq0;Password=gpsP4$$1337;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ZHAW.GpsTracker.Data.TrackerContext, ZHAW.GpsTracker.Data" MigrationConfiguration="ZHAW.GpsTracker.Data.Migrations.Configuration, ZHAW.GpsTracker.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ZHAW.GpsTracker.Data.TrackerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dcb45vreq0.database.windows.net,1433;Initial Catalog=snowden_db;User Id=gpstracker_user@dcb45vreq0;Password=gpsP4$$1337;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>